<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

<mvc:annotation-driven />
<http pattern="/login" security="none"></http>
	<http use-expressions="true">
	<form-login login-page="/login"
		authentication-failure-url="/login?error" default-target-url="/"
		/>
		<intercept-url pattern="/" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/addTeacher" access="hasRole('ROLE_ADMIN')" /> 
		<logout logout-success-url="/login?logout" />
	</http>
	
	<beans:import resource="servlet-context.xml"/>
	
	    <context:component-scan base-package="pl.edu.agh.school" />
    <context:annotation-config/>
	
	<beans:bean id="userDAO" class="pl.edu.agh.school.dao.impl.UserDAOImpl" />
	<beans:bean id="classDAO" class="pl.edu.agh.school.dao.impl.ClassDAOImpl" />
	<beans:bean id="TeacherDAO" class="pl.edu.agh.school.dao.impl.TeacherDAOImpl" />
	<beans:bean id="StudentDAO" class="pl.edu.agh.school.dao.impl.StudentDAOImpl" />

	 
	<beans:bean id="customUserDetailsService" class="pl.edu.agh.school.CustomUserDetailsService">
	</beans:bean>
	
	<beans:bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 
	
	<authentication-manager>  
        <authentication-provider user-service-ref="customUserDetailsService">  
            <password-encoder hash="plaintext">  
        </password-encoder></authentication-provider>  
    </authentication-manager>  
</beans:beans>